html body {
  font-family: "lato", sans-serif;
}

#mobilenav{
  padding: 50px 50px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #C0C0C0;
  display: block;
  position: fixed;
  font-size: 60px;
}

li a, .hidemenu {
  padding: 40px 30px;
  font-size: 60px;
  display: block;
  text-align: center;
  background-color: #C0C0C0;
  text-decoration: none;
  color: black;
}

#hideaway {
  display: none;
  list-style-type: none;
  position: fixed;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.buttonimg {
  width: 100%;
  padding: 0;
}

.active {
  background-color: CornflowerBlue;
}

table {
  display: none;
}

a {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-decoration: none;
}
