html body {
  font-family: "lato", sans-serif;
}

#mobilenav{
  padding: 50px 50px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #C0C0C0;
  display: block;
  position: fixed;
  font-size: 60px;
}

li a, .hidemenu {
  padding: 40px 60px;
  font-size: 60px;
  display: block;
  text-align: center;
  background-color: #C0C0C0;
}

#hideaway {
  display: none;
  list-style-type: none;
  position: fixed;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}
