.mobilenav{
  padding: 50px 50px;
  margin-top: -22%;
  background-color: #C0C0C0;
  display: inline;
  position: absolute;
  font-size: 60px;
  margin-left: 5%;
   font-family: "Lato", sans-serif;
}

.hidemenu {
  padding: 40px 60px;
}

li a {
  list-style-type: none;
}
