html body {
  font-family: "lato", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C0C0C0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 25px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  background-color: #C0C0C0;
}

li a:hover {
  background-color: lightblue !important;
  color: black !important;
}

table {
  width: 100%;
}

.buttonimg {
  width: 100%;
  padding: 0;
}

.active {
  background-color: CornflowerBlue;
}

a:hover {
  color: lightblue;
}

td {
  width: 16.6666666667%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.inst {
  margin-bottom: 0.1em;
}

.buttonh2 {
  margin-bottom: 0.1em;
  font-size: 15px;
}

a:visited {
  color: black;
}

#mobilenav, .hidemenu, .br, .mob-buttons {
  display: none;
}
